<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>Gestionnaire de témoignages</title>

    <link rel="stylesheet" href="../public/manager/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/manager/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../public/manager/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">