<hr>
<div class="card">
    <div class="card-header">
        <h4>Suppression du témoignage #ID#</h4>
    </div>
    <div class="card-body">
        <p style="color: #ff3a31; font-weight: bold;">Vous voulez vraiment supprimer le témoignage #ID# ?</p>
        <p style="color: #ff3a31; font-weight: bold;">Cette action est irréversible !</p>
        <form method="POST" action="/view/testimonials/actions.php">
            <input type="hidden" name="type" value="delete">
            <input type="hidden" name="id" value="#ID#">
            <button class="btn btn-danger" type="submit">Oui, je veux supprimer le témoignage #ID# !</button>
        </form>
    </div>
</div>