<div class="form-group" id="#NAME#-form">
    <label for="#NAME#">#NAME#</label>
    <div class="input-group">
        <input type="text" id="#NAME#" class="form-control" name="#NAME#" value="#CONTENT#" required>
        <div class="input-group-prepend">
            <select class="custom-select #NAME#">
                <option #TEXT# name="typeContent" value="text">Texte</option>
                <option #IMAGE# name="typeContent" value="image">Image</option>
                <option #VIDEO# name="typeContent" value="video">Vidéo</option>
            </select>
        </div>
        <div class="input-group-prepend #NAME#">
            <div class="input-group-text clickUp #NAME#" style="cursor: pointer;">
                <a class="#NAME#">
                    <i class="fas fa-arrow-up #NAME#"></i>
                </a>
            </div>
            <div class="input-group-text clickDown #NAME#" style="cursor: pointer;">
                <a class="#NAME#">
                    <i class="fas fa-arrow-down #NAME#"></i>
                </a>
            </div>
            <div class="input-group-text clickDelete #NAME#" style="cursor: pointer;">
                <a class="#NAME#">
                    <i class="fas fa-trash #NAME#"></i>
                </a>
            </div>
        </div>
    </div>
</div>