<hr>
<form method="GET" action="/view/testimonials/actions.php">
    <div class="card">
        <div class="card-header">
            <h4>Informations techniques</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="hidden" id="id" name="id" value="#ID_SLICE#">
                <input type="hidden" name="type" value="modif">
                <input type="text" class="form-control" placeholder="#ID#" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" id="name" class="form-control" name="name" value="#NAME#" required>
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" value="#LATITUDE#">
            </div>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="latitude" value="#LONGITUDE#">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="custom-select mb-2 mr-sm-2 mb-sm-0" name="status">
                    #SELECT#
                </select>
            </div>
        </div>
        <div class="card-header">
            <h4>Informations publiques</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="#TITLE#">
            </div>
            <div class="form-group">
                <label for="witnessesName">Prénom</label>
                <input type="text" class="form-control" id="witnessesName" name="witnessesName" value="#WITNESSESNAME#">
            </div>
            <div class="form-group">
                <label for="witnessesLastName">Nom</label>
                <input type="text" class="form-control" id="witnessesLastName" name="witnessesLastName" value="#WITNESSESLASTNAME#">
            </div>
            <div class="form-group">
                <label for="country">Pays</label>
                <input type="text" id="country" class="form-control" name="country" value="#COUNTRY#" required>
            </div>
            <div class="form-group">
                <label for="region">Région</label>
                <input type="text" id="region" class="form-control" name="region" value="#REGION#" required>
            </div>
            <div class="form-group">
                <label for="city">Ville</label>
                <input type="text" id="city" class="form-control" name="city" value="#CITY#" required>
            </div>
        </div>
        <div class="card-header">
            <h4>Élements</h4>
        </div>
        <div class="card-body" id="elements">
            <button type="button" id="addElement" class="btn btn-primary btn-sm" style="margin-bottom: 2em;">Ajouter un élement</button>
            #ELEMENTS#
            <button type="submit" class="btn btn-info" style="margin-top: 2em;">Modifier le témoignage ##ID_SLICE#</button>
        </div>
    </div>
</form>